.DHR__Signup__Modal1__Img1 {
  position: absolute;
  bottom: 10%;
  left: -14%;

  width: 640px;
  height: 780px;

  rotate: -9deg;
}

.DHR__Signup__Modal1__Img2 {
  position: absolute;
  bottom: -15%;
  right: -10%;

  width: 530px;
  height: 573px;

  rotate: -9deg;
}
