.DHR__Signup__Modal2__Img1 {
  position: absolute;
  top: -20%;
  right: -20%;

  rotate: -9deg;

  width: 758px;
  height: 575px;
}

.DHR__Signup__Modal2__Img2 {
  position: absolute;
  bottom: -15%;
  left: -15%;

  width: 671px;
  height: 796px;

  rotate: -9deg;
}
