@import "../../App.scss";

// Not Logged In
.DHS__Navbar__NotLoggedIn {
  width: 95%;
  margin: 2rem 2.5%;
  height: 10vh;

  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.DHS__Navbar__NotLoggedIn {
  img {
    width: 10%;
  }
}

// Logged In
.DHS__Navbar__LoggedIn {
  width: 95%;
  margin: 1rem 2.5%;
  height: 10vh;

  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 10%;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 2;

    height: 7vh;
    width: 4.5%;

    margin-right: 2rem;

    div {
      width: 90%;
      height: 12.5%;
      background-color: $white;
      position: relative;

      transition: all 0.3s ease-in-out;
    }
  }
}

#DHS__Navbar__LoggedIn__Nav {
  width: 0vw;
  height: 100vh;

  box-shadow: 0px 0px 0px 10px var(--white) inset;

  background-color: $black;

  position: fixed;
  top: 0;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow-x: hidden;

  word-wrap: normal;
  white-space: nowrap;

  transition: width 0.5s ease-in-out;
}

#DHS__Navbar__LoggedIn__Nav > * {
  text-decoration: none;
  font-size: 2rem;

  color: var(--white);

  transition: color 0.3s ease 0s;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem 0;
}

#DHS__Navbar__LoggedIn__Nav > * > * {
  margin: 1rem;
}
