@import "../../../App.scss";

.DHS__Message__Big {
  flex: 3;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// User is selected
// Top
.DHS__Message__Big__Top {
  flex: 1;

  width: 100%;
  padding-bottom: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: left;

  border-bottom: $grey 0.1rem solid;
}

.DHS__Message__Big__Top__ProfilePicture {
  width: 7%;
  aspect-ratio: 1/1;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $black;

  border-radius: 50%;
  border: 0.5rem solid $black;
  margin-right: 1rem;
}

// Messages
.DHS__Message__Big__Messages {
  flex: 15;

  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  // Messages sent to antoher user
  .DHS__Message__Big__Messages__Sent {
    margin: 0.5rem 0 0.5rem auto;
    padding: 0.5rem 1rem;

    max-width: 50%;

    background-color: $grey;

    border-radius: 0.5rem 0.5rem 0 0.5rem;
  }

  // If sent by other user
  .DHS__Message__Big__Messages__Received {
    margin: 0.5rem auto 0.5rem 0;
    padding: 0.5rem 1rem;

    max-width: 50%;

    background-color: $accent;

    border-radius: 0.5rem 0.5rem 0 0.5rem;
  }
}

// Send Message
.DHS__Message__Big__SendMessage {
  flex: 1;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 95%;
    padding: 0.5rem 1rem;

    font-size: 1.2rem;
    font-family: inherit;

    background-color: $grey;
    color: $white;

    border: none;
    border-bottom: $black 0.2rem solid;
    border-radius: 2rem;
  }

  button {
    padding: 0.8rem 1rem;

    background-color: $accent;
    color: $white;

    border-radius: 50%;

    border: none;
  }
}

// User not selected
.DHS__Message__Big > h2 {
  font-size: 2rem;
}
